obj
bin
*.db
*.sqlite
.node_modules
.vscode
.env
.DS_Store
*.log
*.pdb
*.user
*.vs
*.suo
*.cache
*.sqlite-*
wwwroot/app_bundle.js
wwwroot/app_bundle.js.map
*.Backup.tmp
publish
publish_*
tmp_note*
appsettings.Production.json
tinder.service
logs
*.zip
*backup*
uploads
