obj
bin
*.db
*.sqlite
.node_modules
.vscode
.env
.DS_Store
*.log
*.pdb
*.user
*.vs
*.suo
*.cache
*.sqlite-*
wwwroot/app_bundle.js
*.Backup.tmp
publish
tmp_note*
appsettings.Production.json
tinder.service
logs
*.zip
